@charset "UTF-8";

/*
Cores:
      Azul bb: #d1eaee 
      Bege: #ffe6db
*/

/*                                  PARA O DESKTOP                                      
                                  de 992px à 1200px                        
*/

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #b2dae0 ,#d1eaeedc ,rgb(255, 255, 255),rgb(255, 255, 255), #ffe6dbd3, #e7c9bc);
    }
    section#login{
        width: 50vw;
        height: 711px;
        
    }
    section#login > div#imagem{
        background-image: url(../img/login_desktop.jpg);
        background-color: white;
        background-repeat: no-repeat;
        
        height: 388px; /*Para aparecer a imagem*/
        background-size: cover;
        background-position: center top -140px;/*Direcionando a imagem*/
    
        
        
    }
    section#login > div#formulario{
        
        box-shadow: 0px -20px 70px 115px rgb(255 255 255);
        display: block;
        padding: 10px;
        
        
    }
    div#formulario > h1{
        font-size: 2em;  
        transform: translateY(-90%); /*Alinhamento para cima*/
    }
    div#formulario > p{
        font-size: 1.2em;
        transform: translateY(-50%); /*Alinhamento para cima*/
    }
    
    
}